@charset "UTF-8";

/* Import Tailwind CSS components and utilities */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import Google Fonts or other @import statements */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");

/* Other styles */
* {
  font-family:
    "Quicksand",
    "Garamond",
    "Kaushan" sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: block;
}
button {
  border: none;
}
fieldset label span {
  min-width: 125px;
}
fieldset .select::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  right: 20px;
  top: 50%;
  margin-top: -2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'><title>Arrow</title><path d='M.552 0H8.45c.58 0 .723.359.324.795L5.228 4.672a.97.97 0 0 1-1.454 0L.228.795C-.174.355-.031 0 .552 0z' fill='%23CFD7DF' fill-rule='evenodd'/></svg>");
  pointer-events: none;
}
@layer components {
  .icon__wrapper {
    @apply border border-gray-400 rounded-full w-[50px] h-[50px] grid place-items-center text-[22px] hover:bg-warning hover:text-primary;
  }
  .feature_btn {
    @apply bg-secondary text-white px-4 py-1 rounded-full hover:bg-warning;
  }
}
