<h1>This is the deliverer register page</h1>
<!doctype html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Register as Deliverer</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/signupStyle.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <form id="registerForm" action="#">
        <div class="title">Register as Deliverer</div>
        <div class="input-box underline">
          <input
            id="userIdInput"
            type="text"
            placeholder="Enter Your User ID"
            required
          />
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <input
            id="fullNameInput"
            type="text"
            placeholder="Enter Your Full Name"
            required
          />
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <input
            id="usernameInput"
            type="text"
            placeholder="Enter Your Username"
            required
          />
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <input
            id="phoneNumberInput"
            type="tel"
            placeholder="Enter Your Phone Number"
            required
          />
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <input
            id="emailInput"
            type="email"
            placeholder="Enter Your Email"
            required
          />
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <input
            id="passwordInput"
            type="password"
            placeholder="Enter Your Password"
            required
          />
          <div class="underline"></div>
        </div>

        <div class="input-box button">
          <input type="submit" value="Continue" />
        </div>
        <div id="error-message"></div>
      </form>
    </div>

    <script>
      const errorMessageDiv = document.getElementById("error-message");
      document
        .getElementById("registerForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Get the values from the input fields
          const userId = document.getElementById("userIdInput").value;
          const fullName = document.getElementById("fullNameInput").value;
          const username = document.getElementById("usernameInput").value;
          const phoneNumber = document.getElementById("phoneNumberInput").value;
          const email = document.getElementById("emailInput").value;
          const password = document.getElementById("passwordInput").value;

          // You can now proceed to use these values, for example, making a POST request to your server
          // Example:

          fetch("http://127.0.0.1:3001/deliverer/register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              d_id: userId,
              d_full_name: fullName,
              d_name: username,
              d_phone_number: phoneNumber,
              d_email: email,
              d_password: password,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data) {
                // Redirect to the home page
                if (data.status === "success") {
                  window.location.href =
                    "http://127.0.0.1:3001/deliverer/delivererHome";
                }

                if (data.status === "error") {
                  errorMessageDiv.classList.add("error-message-display");
                  errorMessageDiv.textContent = data.error;
                }
              } else {
                console.log("Authentication failed.");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
